# Ex2 - Getting and Knowing your Data

Check out [Occupation Exercises Video Tutorial](https://www.youtube.com/watch?v=W8AB5s-L3Rw&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=4) to watch a data scientist go through the exercises



### Step 1. 导入所需库

In [1]:
import pandas as pd

### Step 2. 将其分配给名为 users 的变量，并使用“user_id”作为索引

In [4]:
from urllib import request
import ssl

context = ssl._create_unverified_context()
wp = request.urlopen('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', context=context)

users = pd.read_csv(wp,sep='|', index_col='user_id')
users.to_csv('users.csv')

### Step 3. 查看最后 10 个条目

In [42]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 4. 数据集中的数据量是多少？

In [6]:
users.shape[0]

943

### Step 5. 数据集有多少列

In [7]:
users.shape[1]

4

### Step 6. 输出每列的ID

In [8]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 7. 如何为数据集编制索引？

In [9]:
# "the index" (aka "the labels")
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 8. 每列的数据类型是什么？

In [10]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 9. 只输出occupation这列

In [11]:
users.occupation

#or

users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 10. 此数据集中有多少种不同的职业？

In [12]:
users.occupation.nunique()
#or by using value_counts() which returns the count of unique elements
#users.occupation.value_counts().count()

21

### Step 11. 最常见的职业是什么？

In [13]:
users.occupation.value_counts()  #.value_counts()是pandas中的计数函数

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [14]:
#Because "most" is asked
users.occupation.value_counts().head(1).index[0]

#or
#to have the top 5

# users.occupation.value_counts().head()

'student'

### Step 12. 汇总数据

In [51]:
users.describe()  #返回数据的统计变量
#Notice: by default, only the numeric columns are returned.

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 13. 汇总所有列

In [52]:
users.describe(include = "all") #Notice: By default, only the numeric columns are returned.

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 14. 汇总occupation这列

In [53]:
users.occupation.describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 15. 用户的平均年龄

In [54]:
round(users.age.mean())

34

### Step 16. 发生率最低的年龄是多少？

In [15]:
users.age.value_counts()

30    39
25    38
22    37
28    36
27    35
      ..
7      1
66     1
11     1
10     1
73     1
Name: age, Length: 61, dtype: int64

In [16]:
users.age.value_counts().tail()  #tail()方法返回指定数量的最后5行

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64