# Ex1 - Getting and Knowing your Data

Check out [Chipotle Exercises Video Tutorial](https://www.youtube.com/watch?v=lpuYZ5EUyS8&list=PLgJhDSE2ZLxaY_DigHeiIDC1cD09rXgJv&index=2) to watch a data scientist go through the exercises


### Step 1. 导入所需库

In [1]:
import pandas as pd
import numpy as np

### Step 2. 导入数据

### Step 3. 将导入的数据命名为chipo.

In [4]:
from urllib import request
import ssl

context = ssl._create_unverified_context()
wp = request.urlopen('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', context=context)

chipo = pd.read_csv(wp,sep="\t")
chipo.to_csv('chipo.csv')

### Step 4. 查看前10行

In [20]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. 数据有多少行

In [9]:
chipo.shape

(4622, 5)

In [8]:
# Solution 1

chipo.shape[0]  # entries <= 4622 observations

4622

In [10]:
# Solution 2

chipo.info() # entries <= 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. 数据集有多少列

In [11]:
chipo.shape[1]

5

### Step 7. 输出列的ID

In [12]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. 数据集是如何索引的

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. 订购量最大的是哪个物品

In [21]:
c = chipo.groupby('item_name') #根据item_name分组
c = c.sum() #分组之后对每个组求和
c.head()

                       order_id  quantity
item_name
6 Pack Soft Drink         52322        55
Barbacoa Bowl             53972        66
Barbacoa Burrito          74718        91
Barbacoa Crispy Tacos      5613        12
Barbacoa Salad Bowl        9708        10

In [24]:
c = c.sort_values(['quantity'], ascending=False) #根据quantity降序排序
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. 对于订购量最大的商品，订购了多少件商品？

In [10]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. “choice_description”列中订购最多的项目是什么？

In [11]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. 总共订购了多少件商品？

In [12]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. 将物品价格变为浮点数

#### Step 13.a. 查看物品价格

In [25]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. 写一个lambda函数来变换价格的数据类型

In [26]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. 查看此时的数据类型

In [27]:
chipo.item_price.dtype

dtype('float64')

### Step 14. 在数据集中的这一时期，收入是多少？

In [29]:
revenue = (chipo['quantity']* chipo['item_price'])
revenue

0        2.39
1        3.39
2        3.39
3        2.39
4       33.96
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Length: 4622, dtype: float64

In [30]:
revenue = (chipo['quantity']* chipo['item_price']).sum() #对每行得到的结果求和

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

### Step 15. 期内下了多少笔订单？

In [31]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. 每个订单的平均收入是多少？

In [36]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price'] #先对求得每行数据的收入，放到新的一列
chipo

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [37]:
order_grouped = chipo.groupby(by=['order_id']).sum() #对订单号相同的分组求和
order_grouped

          quantity  item_price  revenue
order_id
1                4       11.56    11.56
2                2       16.98    33.96
3                2       12.67    12.67
4                2       21.00    21.00
5                2       13.70    13.70
...            ...         ...      ...
1830             2       23.00    23.00
1831             3       12.90    12.90
1832             2       13.20    13.20
1833             2       23.50    23.50
1834             3       28.75    28.75

[1834 rows x 3 columns]

In [38]:
order_grouped.mean()['revenue'] #

21.39423118865867

In [32]:
# Solution 2 合起来操作

chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

### Step 17. 售出多少种不同的商品？

In [41]:
chipo.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [39]:
chipo.item_name.value_counts().count()

50